<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Filip Nový's Portfolio">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <title>{% block title %}Filip's Portfolio{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/interests">Interests</a> |
        <a href="/contact">Contact</a> |
        <button id="dark-toggle">🌙</button>
        <button onclick="document.body.style.fontSize='larger'">➕</button>
        <button onclick="document.body.style.fontSize='smaller'">➖</button>

      </nav>
      <header class="gradient-header"></header>
   
  <main>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for m in messages %}<li>{{ m }}</li>{% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </main>
  <footer class="gradient-footer"><p>&copy; 2025 Filip Nový</p>
  <p>{% if motd %}
    <div class="insight-box">
      💡 <em>{{ motd }}</em>
    </div>
  {% endif %}</p></footer>
  

</body>
</html>
