<!-- templates/contact.html -->
{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact me</h1>

<form method="post" onsubmit="return validateForm()">
  <input type="text" name="name" id="name" placeholder="Your Name" required>

  <input type="email" name="email" id="email" placeholder="Your Email" required>

  <textarea name="message" id="message" placeholder="Your Message" required></textarea>

  <button type="submit">Send</button>
</form>

{% if motd %}
<div class="insight-box">
  💡 <em>{{ motd }}</em>
</div>
{% endif %}
{% endblock %}
